<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creative.roboticcameraapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".appdata.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/label_mainactivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        /***************************************CAMERA ROW
        360**************************************/

        <activity
            android:name=".CameraProfileList"
            android:label="@string/CameraProfileList"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CameraAddUpdateProfile"
            android:label="@string/CameraAddProfile"
            android:parentActivityName=".CameraProfileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraProfileList" />
        </activity>


        /***************************************LENS PROFILE**************************************/


        <activity
            android:name=".LensProfileList"
            android:label="@string/LensProfileList"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LensAddUpdateProfile"
            android:label="@string/LensAddProfile"
            android:parentActivityName=".CameraProfileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraProfileList" />
        </activity>


        /***************************************SHOOTING
        PROFILE**************************************/

        <activity
            android:name=".ShootingProfile"
            android:label="@string/ShootingProfile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        /***************************************SINGLE ROW 360**************************************/

        <activity
            android:name=".SingleRowProfileList"
            android:label="@string/SingleRow"
            android:parentActivityName=".ShootingProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShootingProfile" />
        </activity>
        <activity
            android:name=".SingleRowAddUpdateProfile"
            android:label="@string/SingleRowAddProfile"
            android:parentActivityName=".SingleRowProfileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SingleRowProfileList" />
        </activity>


        /***************************************MULTI ROW 360**************************************/

        <activity
            android:name=".MultiRowProfileList"
            android:label="@string/MultiRow"
            android:parentActivityName=".ShootingProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShootingProfile" />
        </activity>
        <activity
            android:name=".MultiRowAddUpdateProfile"
            android:label="@string/MultiRowAddProfile"
            android:parentActivityName=".MultiRowProfileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MultiRowProfileList" />
        </activity>


        /***************************************PARTIAL/GIGAPIXEL**************************************/

        <activity
            android:name=".PartialGigapixelProfileList"
            android:label="@string/PartialGigapixel"
            android:parentActivityName=".ShootingProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShootingProfile" />
        </activity>
        <activity
            android:name=".PartialGigapixelAddUpdateProfile"
            android:label="@string/partialGigapixelAddProfile"
            android:parentActivityName=".PartialGigapixelProfileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PartialGigapixelProfileList" />
        </activity>

        /***************************************PARTIAL/GIGAPIXEL[ STEPS}**************************************/

        <activity
            android:name=".PartialGigapixelSteps"
            android:label="@string/PartialGigapixelSteps"
            android:parentActivityName=".PartialGigapixelProfileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PartialGigapixelProfileList" />
        </activity>

        /***************************************AD-HOC**************************************/

        <activity
            android:name=".AdhocInitialize"
            android:label="@string/adhocinitialize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        /***************************************BLUETOOTH DEVICE LIST**************************************/

        <activity android:name=".bluetooth.BluetoothDeviceListActivity" />


    </application>

</manifest>